version: '3'
services:

#  blog-sample:
#    build: .
#    container_name: blog-sample
#    depends_on:
#      - blog-sample-db
#    ports:
#      - "8082:8082"

  authorization-server:
    image: cpatrut/authorization-server
    container_name: authorization-server
    ports:
     - "8080:8080"
    depends_on:
      - authorization-server-db
  authorization-server-db:
    container_name: authorization-server-db
    image: postgres:9.5
    ports:
     - "5432:5432"

  blog-sample-db:
    image: postgres:9.5
    container_name: blog-sample-db
    ports:
     - "5431:5432"